<div class="navbar">
  <div class="navbar-content">
    <div class="logo">
      <img src="../../../assets/DesignLogo.svg" />
      <!-- <span>Admin Form</span> -->
    </div>
    <!-- <div><span id="fetchstatus">Please Wait.....</span></div> -->
    <div class="link-box">
      <div class="navbar-link"><a [routerLink]="['/list']">Method</a></div>
      <div class="navbar-link">
        <a [routerLink]="['/feedback']">Feedbacks</a>
      </div>
      <div class="navbar-link"><a href="#">Queries</a></div>
      <div class="navbar-link"><a href="#">Contribution</a></div>
      <div class="user-icon">
        <img src="../../../assets/UserIcon.svg" />
      </div>
    </div>
    <input type="checkbox" id="check" />
    <div for="check" class="checkbutton">
      <img src="./../../../assets/hamburger.svg" alt="" />
    </div>
  </div>
</div>
<!-- <div class="navbar-content">
    <nav>
      <label class="logo"> <img src="../../../assets/DesignLogo.svg" /></label>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbutton">
        <div class="hamburger"></div>
        <div class="hamburger"></div>
        <div class="hamburger"></div>
      </label>
      <ul>
        <li><a href="#">Method</a></li>
        <li><a href="#">Feedbacks</a></li>
        <li><a href="#">Queries</a></li>
        <li><a href="#">Contribution</a></li>
        <li>
          <a href="#"><img src="../../../assets/UserIcon.svg" /></a>
        </li>
      </ul>
    </nav>
  </div> -->
