.work-Container{
    display: flex;
    max-width: 1453px; 
    margin: auto;
    padding-top: 48px;
    align-items: center;
}

@media (max-width:952px){
    
    .work-Container{
        padding: 20px;
    }
    
}