.feedback-status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1453px;
    height: 75px;
    /* gap: 650px; */
    }
    
    .feedback-style{   
    max-width: 321px;
    height: 75px;
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    text-decoration-line: underline;
    color: #E9E9E9;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    
    .nav-box{
    display: flex;
    box-sizing: border-box;
    padding: 8px 24px;
    gap: 24px;
    width: 259px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #00B2DA;
    float: right;
    }
    
    .card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 24px;
    gap: 12px;
    max-width: 303px;
    min-height: 193px;
    top: 235px;
    background: #FFFFFF;
    border: 1px solid #00B2DA;
    box-shadow: 4px 4px 20px rgba(111, 174, 188, 0.2);
    }
    
    .card-feedback{
    display: flex;
    flex-wrap: wrap;
    max-width: 255px;
    min-height: 63px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #4E4E4E;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    
    .card-sub{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
    gap: 8px;
    width: 255px;
    height: 22px;
    opacity: 0.5;
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .card-email{
        width: 140px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #4E4E4E;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    
    .card-date{
    width: 61px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #4E4E4E;
    flex: none;
    order: 1;
    flex-grow: 0;
    }

    .feedback-child{
        padding-top: 10px;
    }